<!DOCTYPE html>
<html>
<head>
  <title>高老庄</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="users-form-header">
	<%= link_to "主页", root_path, class: "btn btn-info pull-right btn-sm" %>
	<% if params[:controller] == 'users/registrations' %>
		<%= link_to "登录", new_user_session_path, class: "btn btn-success pull-right btn-sm" %>
	<% else %>
		<%= link_to "注册", new_user_registration_path, class: "btn btn-success pull-right btn-sm" %>
	<% end %>
</div>
<img src=<%= "#{asset_path("night.jpg")}" %> alt="背景图" id="rainyday">
<div class="container-fluid">
	<%= notice_msg %>
	<div class="wallpaper">
		<%= yield %>
	</div>
</div>
</body>
</html>
