<!DOCTYPE html>
<html>
<head>
  <title>高老庄</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<img src=<%= "#{asset_path("night.jpg")}" %> alt="背景图" id="rainyday">
<div class="container-fluid">
	<%= notice_msg %>
	<div class="wallpaper">
		<%= yield %>
	</div>
</div>
</body>
</html>
